
  	.info-color {
    background-color: #9a6005 !important;
}

  	a{
  		color: #a16302;
  	}
  	.btn-outline-info {
    color: #a16302 !important;
    background-color: transparent !important;
    border: 2px solid #a16302 !important;
}

.container{
   width: 500px; 
   margin-top: 100px;
 }
 .newcont{
  margin-left: 200px;
  margin-right: 200px;
   margin-top: 10px;
 }

.fa{
  margin-right: 5px;
}

.btn{
  width: 300px;
  margin:15px;
}
.cont{
  width: 1000px;
}



nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}